* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    height: 600px;
    font-family: Arial, sans-serif;
    color: #333;
    width: 100%;
}

nav {
    height: 60px;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
}

nav > li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 60%;
    gap: 30px;
}

nav > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient( to bottom, black, grey);
    padding:10px 15px;
    border-radius: 5px;
    border-color: white;
    border: .5px solid;
    transition: background-image 0.3s ease;
}
 
img {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    margin-right: 10px;
    margin-left: 50px;
    object-fit: cover;
}

nav > li > a:hover {
    background-image: grey;
}

.left {
    float: left;
    height: 300px;
    width: 40%;
    padding: 15px;
    background-color: #11f1ff;
    text-wrap: wrap;
    margin-left: 50px;
    margin-top: 50px;
    align-self: center;
}

.left > h2 {
    margin-bottom: 20px;
}

.left > p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 100px;
}

.left > button{
    height: 60px;
    width: 150px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.right {
    align-self:baseline;
    background-color: #333;
    float: right;
    height: 300px;
    width: 40%;
    padding: 15px;
    margin-right: 50px;
    margin-top: 50px;
    color: white;
}

.grid-container {
    height: 650px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-top: 20px;
    padding-left: calc(100% / 8);
}

.boxes {
    height: 250px;
    width: 230px;
    background-color: #fff;
    border-radius: 5px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.boxes > h3 {
    margin-top: 70%;
}

.text-header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, white, grey, black);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
}